body {
  margin: 0;
  font-family: Baloo 2;
  overflow: hidden;
}

.search-box {
  background-color: #F3F4F6;
  border: 1px solid #F3F4F6;
  right: 20px;
}

.menu-container {
  background-color: #3730A2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .list-icons {
  width: 100%;
}

.content-container {
  padding: 15px;
} */